.vscode/*
build/*
**/.vs
**/Debug/*
**/x64/*
**/*.pid
**/*.log
**/*.o
**/*.elf
**/*.vcxproj.filters
**/archives/*
*.sdf
*.suo
**/PS3_Debug/*
**/PS3_Release/*
PS3_Debug/*
PS3_Release/*
bin/*
bin-int/*
GTA V Script Decompiler/obj/
GTA V Script Decompiler/Release/
GTA V Script Decompiler/bin/
*.db
GTA V Script Decompiler/Resources/Entities2.dat
*.xsc
*.sco
*.opensdf
.vs/*
